{%extends "webapp/header.html" %}
 {% block content %}
<html class="hasJs NoTouch HasDragDrop"><head>
	<base href="https://f271.https.cdn.softlayer.net/80F271/dal05.objectstorage.softlayer.net/v1/AUTH_b4a3a2ca-226e-4f3c-aef2-b5275f5900cc/cdn/preview/astronomywebsitetemplate/">
    <base href = "https://fantasy-joditay.c9users.io"/>
	<meta charset="UTF-8">
	<title>Astronomy Website Template - About</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="https://freewebsitetemplates.com/preview/shared/previews.css">

	
	<!-- Google Analytics -->
	<script type="text/javascript" async="" defer="" src="//piwik.freewebsitetemplates.com/piwik.js"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	ga('create', 'UA-241068-1', 'auto');
	ga('send', 'pageview');
	
	</script>
	<!-- End Google Analytics -->
	

	<script src="https://freewebsitetemplates.com/js/jquery/jquery-1.11.0.min.js"></script>	
		
	<script src="https://freewebsitetemplates.com/js/xenforo/xenforo.js?_v=77c96446"></script>


	<script>
	$(document).ready(function() {
		$("a[data-ga-event='click']").each(
			function() {
				if ($(this).data("gaCategory") && $(this).data("gaAction") && $(this).data("gaLabel")) {
					//console.log($(this).data("gaCategory") + " - " + $(this).data("gaAction") + " - " + $(this).data("gaLabel"));
					$(this).on('click', function() {
						ga('send', 'event', $(this).data("gaCategory"), $(this).data("gaAction"), $(this).data("gaLabel"));
						Piwik.getAsyncTracker().trackEvent($(this).data("gaCategory"), $(this).data("gaAction"), $(this).data("gaLabel"));
					});
				} else {
					console.error("missing attributes for google analytics event tracking");
				}
			}
		);
	});
	</script>

</head>
<body> <!-- Start Fixed Template Info Header -->

	<div id="contents">
		<div class="wrapper clearfix">
		
			<div class="main">
				<h1>About Us</h1>
				<p>
					<b>Introduction</b> The Red Stripe football fantasy league app will allow users to create a team and purchase players with a given balance and select customizable line ups in order to compete against other users. As the season progresses, after each match, every user will be given a score depending on how each player of their team played.  Every week the users will be ranked according to their score until after the season. At that point, the top 5 users will be given additional money to carry over into the next season. Therefore, the aim of a user is to score as many points as possible during the season. The application will also allow for users to view local football news as well as the match time, location and other details on every match. 
				</p>
				<p>
					<b>Motivation</b>Being football enthusiasts, the group wanted to develop an app that would be fun , interesting and geared toward the development of Jamaican football.  Fantasy football games are becoming more popular with several games being developed for different leagues around the world. Therefore, it would be a great opportunity to bring an application to Jamaica’s biggest league. We believe it will be an exciting, educational and enlightening experience for users and players in Jamaica.

				</p>
				<p>
					<b>Be Part of Our Community</b> <p style="font-size: 28px;">Join Now</p>
				</p>
			
			</div>
		</div>
	</div>
	<div id="footer">
		<ul id="featured" class="wrapper clearfix">
			<li>
				<img src="http://i66.tinypic.com/vymel4.jpg" border="0" alt="Jodi" height="204" width="220"></a>
				<h3><a href="https://freewebsitetemplates.com/preview/astronomywebsitetemplate/blog.html">
					Jodi - Marie Taylor
					</a></h3>
				<p>
 Computer Science Student at the University of the West Indies				</p>
			</li>
			<li>
				<img src="http://i65.tinypic.com/2ylntag.jpg" border="0" alt="Tommo" height="204" width="220"></a>
				<h3><a href="https://freewebsitetemplates.com/preview/astronomywebsitetemplate/blog.html">
					Romario Tomlin
					</a></h3>
				<p>
 Computer Science Student at the University of the West Indies				</p>
			</li>
			<li>
				<img src="http://i66.tinypic.com/2woc11z.jpg" border="0" alt="Leon Facey" height="204" width="220"></a>
				<h3><a href="https://freewebsitetemplates.com/preview/astronomywebsitetemplate/blog.html">
				    Leon Facey
					</a></h3>
				<p> Computer Science Student at the University of the West Indies
				</p>
			</li>
			<li>
				<img src="http://i64.tinypic.com/mmsbac.jpg" border="0" alt="Nashinal" alt="Img" height="204" width="220"></a>
				<h3><a href="https://freewebsitetemplates.com/preview/astronomywebsitetemplate/blog.html">
				Nathan Nash
					</a></h3>
				<p>
 Computer Science Student at the University of the West Indies				</p>
			</li>
		</ul>
		
	</div>
	<!-- end of templatePreview--><script>


jQuery.extend(true, XenForo,
{
	visitor: { user_id: 0 },
	serverTimeInfo:
	{
		now: 1495109220,
		today: 1495083600,
		todayDow: 4
	},
	_lightBoxUniversal: "0",
	_enableOverlays: "1",
	_animationSpeedMultiplier: "1",
	_overlayConfig:
	{
		top: "10%",
		speed: 200,
		closeSpeed: 100,
		mask:
		{
			color: "rgb(255, 255, 255)",
			opacity: "0.6",
			loadSpeed: 200,
			closeSpeed: 100
		}
	},
	_ignoredUsers: [],
	_loadedScripts: [],
	_cookieConfig: { path: "/", domain: "", prefix: "xf_"},
	_csrfToken: "",
	_csrfRefreshUrl: "login/csrf-token-refresh",
	_jsVersion: "77c96446",
	_noRtnProtect: false,
	_noSocialLogin: false
});
jQuery.extend(XenForo.phrases,
{
	cancel: "Cancel",

	a_moment_ago:    "A moment ago",
	one_minute_ago:  "1 minute ago",
	x_minutes_ago:   "%minutes% minutes ago",
	today_at_x:      "Today at %time%",
	yesterday_at_x:  "Yesterday at %time%",
	day_x_at_time_y: "%day% at %time%",

	day0: "Sunday",
	day1: "Monday",
	day2: "Tuesday",
	day3: "Wednesday",
	day4: "Thursday",
	day5: "Friday",
	day6: "Saturday",

	_months: "January,February,March,April,May,June,July,August,September,October,November,December",
	_daysShort: "Sun,Mon,Tue,Wed,Thu,Fri,Sat",

	following_error_occurred: "The following error occurred",
	server_did_not_respond_in_time_try_again: "The server did not respond in time. Please try again.",
	logging_in: "Logging in",
	click_image_show_full_size_version: "Click this image to show the full-size version.",
	show_hidden_content_by_x: "Show hidden content by {names}"
});

// Facebook Javascript SDK
XenForo.Facebook.appId = "";
XenForo.Facebook.forceInit = false;


</script>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.freewebsitetemplates.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>

<!-- End Piwik Code -->


</body></html>
{% endblock %}