{%extends "webapp/header.html" %}
 {% block content %}
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>



 
<!-- Header -->
<header 
   class="w3-container  w3-center" background-image: url('/webapp/static/webapp/Banner.jpg');  style="padding:0 16px; height: 600px;">
  <img src="http://i67.tinypic.com/30ib3h4.jpg" border="0" alt="RSPLFantasy Logo"  width="1350"></a>
  <h1 class="w3-margin w3-jumbo">Welcome</h1>
  <p class="w3-xlarge"><i>Dream it believe it</i> </p>
{% if  request.session.user_name = None %}
  <a href = "user/register" ><button class="w3-button w3-red w3-padding-large w3-large w3-margin-top">Sign Up</button></a>
  
   <a href = "login" ><button class="w3-button w3-red w3-padding-large w3-large w3-margin-top">Login</button></a>
{%endif%}
</header>

<!-- First Grid -->
<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>ABOUT US</h1>
      <h5 class="w3-padding-32"> </h5>
      
      The Red Stripe football fantasy league app allows users 
      to create their own fantasy football team  with players from the Red Stripe 
      premier league in Jamaica. This project is aimed towards the development of both football locally.
      <br>
      <br>
      <br>
      AUTHORS:
      <br>
      Jod-Marie Taylor
      <br>
      Romario Tomlin
      <br>
      Leon Facey
      <br>
      Nathan Nash


      <p class="w3-text-grey">
        
        
      </p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    
     <h1>NEWS</h1>
    <center>
    <div class="w3-third w3-center">
    <img src= "http://loopassets.s3.amazonaws.com/styles/carousel_large/s3/thumbnails/image/6rivoli_boys_town.jpg?itok=EzQTHStT" width="300" height ="250" ></center>
    <img src= "http://loopassets.s3.amazonaws.com/styles/carousel_large/s3/thumbnails/image/6rivoli_boys_town.jpg?itok=EzQTHStT" width="300" height="250">
    <img src= "http://loopassets.s3.amazonaws.com/styles/carousel_large/s3/thumbnails/image/tivoli_0.jpg?itok=bNsWkiA7" width="300" height="250">
    </div>

    <div class="w3-twothird w3-center" style = "padding: 0 20px;text-align: center;">
     
    </center>
      <h5 class="w3-padding-32"></h5>

      <p class="w3-text-grey" style= "margin: 0 auto;">
        <br>
        o  UWI FC standing strong in the table, currently sitting in second place.
        <br>
        <br>
        
        o  Local grown talent Junior Flemmings wins division two MLS cup as starter for New York Red Bulls.
        <br>
        <br>
        
        o  Jamaica College Wins fourth straight Manning Cup trophy, solidifies dynasty.
        <br>
        <br>

        </p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div>



<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>


{% endblock %}	


