{%extends "webapp/header.html" %}
 {% block content %}
 
<body>
 


<center>
<img src="http://i67.tinypic.com/2rqqb.png" border="0" alt="Image and video hosting by TinyPic" width="100" height="80"></a>
<h1> Red Stripe Premier League </h1>
<h1>Week 1</h1>
</center>
<br>
<h1>Match 1</h1>
<h1 style="background-color:red;"> Arnett Gardens FC  1 - 1 Boys' Town FC</h1>
<div class = "row">
<div style = "padding: 0 20px;"> 


   
<p>Rickardo Harriott - <strong>Yellow Card</strong>  </p>  
    
<p>Lemar Nelson   - <strong>Yellow Card</strong>  </p>    
 
<p>Jamar Martin  - <strong>Assist</strong>    </p>   
   
<p>Lennox Russell  - <strong>Goal</strong> </p>

</div>
<div style = "padding: 0 180px;">

       
 <p>Kimarley Fray   -<strong>Yellow Card</strong>  </p>     
       
 <p>Daemon Benjamin - <strong>Assist</strong>    </p>      
  
 <p>Shamar Nicholson -  <strong>Goal</strong> </p>   

</div>
</div>

<br>

<h1>Match 2 </h1>
<h1 style="background-color:red;"> Harbour View FC 1 - 3 Montego Bay United  FC  </h1>
<div class = "row">
<div style = "padding: 0 20px;"> 


<p>Bryan English  -   <strong>Yellow Card</strong> </p>  
<p> Luton Shelton   -      <strong>Goal</strong> </p> 

</div>
<div style = "padding: 0 180px;">


<p>Mouricio Gordon    -  <strong>Assist * 2 </strong> </p>  
<p>        Allan Ottey      -     <strong>Goal</strong> </p>
<p>    Dino Williams        -    <strong>Goal * 2</strong> </p>
</div>
</div>
<br>
<h1>Match 3 </h1>
<h1 style="background-color:red;"> Portmore Utd.   2  - 0 FC Reno  </h1>
<div class = "row">
<div style = "padding: 0 20px;"> 
   

<p> Ricardo Morris        -      <strong>Goal</strong> </p> 
<p> Maalique Foster       -      <strong>Goal</strong> </p> 
<p> Cleon Pryce           -      <strong>Assist</strong> </p> 
<p> Jovan East            -      <strong>Assist</strong> </p> 
</div>
<div style = "padding: 0 180px;">
<p>   Ron Daley                -      <strong>Yellow Card</strong> </p> 
</div>
</div>

<br>
<h1>Match 4 </h1>
<h1 style="background-color:red;"> Humble Lions FC  1  - 0 Tivoli Gardens FC       </h1>
<div class = "row">
<div style = "padding: 0 20px;"> 
<p> Francios Swaby           -      <strong>Assist</strong> </p>
<p> Hughan Gray                  -      <strong>Goal</strong> </p>
</div>
<div style = "padding: 0 180px;">
</div>
</div>
<br>
<h1>Match 5 </h1>
<h1 style="background-color:red;"> Rivoli United  FC 1 - 2 Waterhouse  FC     </h1>
<div class = "row">
<div style = "padding: 0 20px;"> 
<p> Jason Vassell             -      <strong>Assist</strong> </p>
<p> Raymond Williamson                  -      <strong>Goal</strong> </p>
<p> George Brown               -      <strong>Yellow Card</strong> </p>
</div>
<div style = "padding: 0 160px;">

<p>      Nicholay Finlayson        -      <strong>Yellow Card</strong> </p>
<p>         Irvino English                -      <strong>Assist</strong> </p>
<p>         DeAndre Brown             -      <strong>Assist</strong> </p>
<p> Jermaine Anderson                  -      <strong>Goal</strong> </p>
<p>Kemar Beckford                       -      <strong>Goal</strong> </p>
</div>
</div>
<br>
<h1>Match 6 </h1>
<h1 style="background-color:red;"> UWI  Mona FC 5 - 0 August Town  FC     </h1>
<div class = "row">
<div style = "padding: 0 20px;">  
<p>    Kemar Flemmings       -      <strong>Goal</strong> </p>
<p>        Girvon Brown                      -      <strong>Goal and Assist</strong> </p>
<p>              Kemoy Atkinson              -      <strong>Goal</strong> </p>
<p>      Anthony Greenland                   -      <strong>Goal</strong> </p>
<p>           Deno Schaffe                   -      <strong>Assist</strong> </p>
<p>         Dwayne Smith               -      <strong>Assist</strong> </p>
</div>
<div style = "padding: 0 115px;">
<p>Maurice Bennett                 -      <strong>Own Goal</strong> </p>
<p>Richard Orrette                  -      <strong>Yellow Card</strong> </p>
</div>
</div>
</div>

</body>
 {% endblock %}	