{%extends "webapp/header.html" %}
 {% block content %}

 <form action= "/team/player/substitute/in" method="post">
    <input type=hidden name =user_id value = {{user_id}}>
      <input type=hidden name =subplayerid value = {{subplayerid}}>
    {% csrf_token %}
    <div  style="margin: 0 auto; max-width: 600px;" >
   
          <p  style="text-align:center; font-size: 20px;">Bench Players</p>
          <p>Select the bench player you want in</p>
              {% csrf_token %}
          <table class="table" >
             <thead>
              <tr>
                <th>Position</th>
                <th>Name</th>
                <th></th>
             
              </tr>
            </thead>
            <tbody>
                 {% for player in benchplayers_list %}
                 <tr>
                   <td scope="row">{{ player.position }}</td>
                   <td>{{player.name}}</td>
                   <td>
                        <div class="radio">
                           <label><input type="radio" name="player_id" value = "{{player.id}}"></label>
                       </div>
                  </td>
                 </tr>
                 {% endfor %}
              </tbody>

             
          </table>
          
        
         
    </div>
     <div style="text-align:center;">
          <button type="submit" name="submit" class ="btn-warning"  value = "" >Submit</button>
     </div>
 </form>
 {% endblock %}	
  